*{
margin:0 padding:0;
border-sizing:border-box;
/*background-color:red;*/
}

header{
	width:100%;
	height:100vh;
	background-image:url('cottage_image.jpg');
background-size:100% 100%;
	
}
.Mainheader {
	width:80%;
	height:100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	  padding: 50px;
	


}
.mainheader .logo img{
	width:100px;height:70px;
	padding-left:60px;
}

.Mainheader nav{
	width:800px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.Mainheader nav a{
	text-decoration:none;
	color:black;
	text-transform:upper-case;
	
}

/*.mainheader {
background-image:url('Screenshot_2020-11-30_023639.jpg');
 background-size: 800px 500px;
  background-repeat: no-repeat;
  background-size: auto;
  position:center;
	
}*/